<div class = "container">
<p id="notice"><%= notice %></p>

<h3>Usuários</h3>

<table class = "bordered highlight">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<dev>
  <a class="waves-effect red accent-3 btn  " href = "/" >Voltar</a>
</dev>
</dev>
