
<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<table class = "striped bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<li><%= link_to "Voltar", "/" %></li>
