

<div class = "container">
<h3>Editar Cadastro</h3>

<%= render 'form', donor: @donor %>

<span class="waves-effect red accent-3 btn"><%= link_to 'Mostrar', @donor %></span>
|<a class="waves-effect red accent-3 btn" href= "/">Voltar</a>
<br>

</div>
