<div class = "container">
<h3>Editar</h3>

<%= render 'form', sangue: @sangue %>

<span class="waves-effect red accent-3 btn"><%= link_to 'Mostrar', @sangue %></span> |
<span class="waves-effect red accent-3 btn"><%= link_to 'Voltar', sangues_path %></span>
</div>
